.contentImage {
	width: 100%;
	height: auto;
	margin: 5px;
	display: none;
}

.glitchWrapper {
	display: none;
}

.glitchContent {
	display: block;
	position: relative;
	height: 150px;
}

.clueText {
	font-size: 24px;
	word-wrap: break-word;
	width: auto;
	height: auto;
	overflow-y: visible;
}

.infoWindowText {
	color: #000000;
	text-shadow: none;
}