
.glitch {
  /* color: #004b23;*/
  /* color: white; */
  color: black;
  position: relative;
  font-size: 75px;
  width: 400px;
  margin: 0 auto;
}

@keyframes noise-anim {
  0% {
    clip: rect(18px, 9999px, 74px, 0);
  }
  5% {
    clip: rect(38px, 9999px, 29px, 0);
  }
  10% {
    clip: rect(5px, 9999px, 77px, 0);
  }
  15.0% {
    clip: rect(23px, 9999px, 27px, 0);
  }
  20% {
    clip: rect(82px, 9999px, 53px, 0);
  }
  25% {
    clip: rect(40px, 9999px, 69px, 0);
  }
  30.0% {
    clip: rect(37px, 9999px, 38px, 0);
  }
  35% {
    clip: rect(33px, 9999px, 62px, 0);
  }
  40% {
    clip: rect(20px, 9999px, 82px, 0);
  }
  45% {
    clip: rect(95px, 9999px, 21px, 0);
  }
  50% {
    clip: rect(89px, 9999px, 25px, 0);
  }
  55.0% {
    clip: rect(43px, 9999px, 93px, 0);
  }
  60.0% {
    clip: rect(97px, 9999px, 32px, 0);
  }
  65% {
    clip: rect(72px, 9999px, 42px, 0);
  }
  70% {
    clip: rect(3px, 9999px, 75px, 0);
  }
  75% {
    clip: rect(81px, 9999px, 60px, 0);
  }
  80% {
    clip: rect(96px, 9999px, 88px, 0);
  }
  85.0% {
    clip: rect(64px, 9999px, 20px, 0);
  }
  90% {
    clip: rect(46px, 9999px, 16px, 0);
  }
  95% {
    clip: rect(6px, 9999px, 79px, 0);
  }
  100% {
    clip: rect(29px, 9999px, 14px, 0);
  }
}
.glitch:after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -1px 0 red;
  top: 0;
  color: white;
  background: black;
  /*background : #004b23;*/
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse;
}

@keyframes noise-anim-2 {
  0% {
    clip: rect(53px, 9999px, 14px, 0);
  }
  5% {
    clip: rect(70px, 9999px, 38px, 0);
  }
  10% {
    clip: rect(48px, 9999px, 88px, 0);
  }
  15.0% {
    clip: rect(18px, 9999px, 94px, 0);
  }
  20% {
    clip: rect(82px, 9999px, 98px, 0);
  }
  25% {
    clip: rect(17px, 9999px, 33px, 0);
  }
  30.0% {
    clip: rect(68px, 9999px, 34px, 0);
  }
  35% {
    clip: rect(29px, 9999px, 18px, 0);
  }
  40% {
    clip: rect(47px, 9999px, 100px, 0);
  }
  45% {
    clip: rect(31px, 9999px, 84px, 0);
  }
  50% {
    clip: rect(42px, 9999px, 8px, 0);
  }
  55.0% {
    clip: rect(53px, 9999px, 16px, 0);
  }
  60.0% {
    clip: rect(44px, 9999px, 51px, 0);
  }
  65% {
    clip: rect(31px, 9999px, 46px, 0);
  }
  70% {
    clip: rect(89px, 9999px, 33px, 0);
  }
  75% {
    clip: rect(25px, 9999px, 86px, 0);
  }
  80% {
    clip: rect(45px, 9999px, 84px, 0);
  }
  85.0% {
    clip: rect(6px, 9999px, 38px, 0);
  }
  90% {
    clip: rect(71px, 9999px, 23px, 0);
  }
  95% {
    clip: rect(70px, 9999px, 38px, 0);
  }
  100% {
    clip: rect(51px, 9999px, 66px, 0);
  }
}
.glitch:before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 1px 0 blue;
  top: 0;
  color: white;
  background: black;
  /*background: #004b23;*/
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 3s infinite linear alternate-reverse;
}
